body{
    box-sizing: border-box;
    color:#fff;
    line-height: 1;
    background-color:#ccc;
    background-image: url("../img/background@1X.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Verdana, sans-serif;
}
.services-item{
    list-style: none;
    margin:0;
    padding: 0;
}
.container {
    width:1064px;
    margin: 0 auto;
    text-align: center;
}
.header {
    margin-top:37px;
}
.header-logo {
    float:left;
}

.logo-link {
    display: inline-block;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
 }

.logo-link:hover{
    color:#F26522;
    background-image: url("../img/logo_hover.png");
}

.logo-top{
    font-size: 29px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    padding-left: 60px;
}
.logo-bottom {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 60px;
}
.header-contacts {
    float:right;
    text-align: right;
    font-size:18px;
    vertical-align: middle;
    padding-top:5px;
    line-height: 1.25;
}
.logo-icon, .logo-top, .logo-bottom {
    float:left;
}

a {
    text-decoration: none;
    color: #fff;
}
main{
    margin-top:40px;
}
.services-list{
    margin: 0;
    padding:0;
}
.services-item {
    float:left;
    width:307px;
    margin-right:70px;
    margin-bottom: 45px;
}
.services-item:nth-child(3n){
    margin-right:0;
}
.services-block{
    position:relative;
}
.services-img {
    border-width:3px;
    border-style: solid;
    border-bottom: none;
    border-image: linear-gradient(to top, #000, #fff) 3;
}
.services-link {
    font-size: 18px;
    display:block;
}

.services-item:hover .services-link{
    color:#F26522;
}

.services-item:hover .services-link>p{
    color:#F26522;
}
.footer-copyright {
    font-size: 12px;
}

.services-overlay {
    background-color: #F26522;
    color: #fff;
    position: absolute;
    display: none;
    bottom:0;
    right:-6px;
    left:0;
    padding:15px 25px;
    text-align: left;
    max-height: 63px;
}
.services-details::after {
    content: '>';
    color:#fff;
    opacity:0.5;
}
.services-price{
    float:left;
    width:50%;
    vertical-align: bottom;
    font-size: 10px;
    color:#fff;
}
.services-details{
    float:right;
    width:50%;
    vertical-align: bottom;
    font-size: 14px;
}

.price {
    font-size: 20px;
}
.services-item:hover .services-overlay{
    display:block;
}